/*grille*/

.grid-container {
    display: grid;
    grid-template-areas:
    "item-1 item-2 item-3";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
}

.item-1 {
    grid-area: item-1;
}
.item-2 {
    grid-area: item-2;
}
.item-3 {
    grid-area: item-3;
}

.recherche-container, #bouton-filtres {
    display: flex;
    background-color: #ECE6F0;
    width: fit-content;
    height: 50px;
    border-radius: 28px;
    padding: 0 10px 0 10px;
    vertical-align: middle;
}

#bouton-fleche-recherche, #bouton-filtres {
    background-color: #ECE6F0;
    border: none;
    border-radius: 28px;
}

#bouton-filtres {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 10px 0 10px;
}

#bouton-filtre img {
    vertical-align: middle;
}

.recherche-container input {
    background-color: #ECE6F0;
    border: none;
    outline: none;
    border-radius: 28px;
}

.recherche-filtres-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    margin-left: 20px;
}

.filtres-container {
    display: flex;
    flex-direction: column;
}

.form-filtres {
    display: none;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #ECE6F0;
    width: fit-content;
    gap: 20px;
}

.bas-recherche-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#bouton-ajouter {
    border: none;
    background-color: transparent;
}

.fiche-container {
    display: flex;
    background-color: #ECE6F0;
    width: fit-content;
    padding: 20px;
    gap: 30px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.milieu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fichier-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
}

.caracteristiques-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gauche, .droite {
    display: flex;
    justify-content: center;
    align-items: center;
}

.droite {
    flex-direction: column;
    gap: 20px;
}

.v1 {
    border-left: 2px solid grey;
}

#type-fiche {
    font-size: 20px;
}

#titre-fiche {
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
}

#auteur-fiche {
    font-size: 14px;
}

.caracteristiques-item {
    border: solid 1px black;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

#titre-fichier {
    font-size: 16px;
}

.petites-icones-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    border: none;
    background-color: #ECE6F0;
}

.dossiers-container, #dossiers-container {
    display: none;
    flex-direction: column;
    border-radius: 28px;
    margin-top: 30px;
    max-width: max-content;
    max-height: 225px;
    overflow-y: auto;
}

.dossiers-container .dossier-item button {
    border-radius: 28px;
    list-style: none;
    background-color: #ECE6F0;
    color: black;
    width: 80%;
    padding: 15px;
    margin: 15px;
    text-align: center;
    flex-wrap: wrap;
}

.dossiers-container .dossier-item button:hover {
    opacity: 70%;
}

.dossiers-container .dossier-item button:active {
    opacity: 100%;
}

.boutons-fiches:hover {
    opacity: 70%;
}

.boutons-fiches:active {
    opacity: 100%;
}

@media (max-width: 900px){
    .recherche-filtres-container, .droite, .bas-recherche-container {
        flex-direction: row;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .fiche-container {
        flex-direction: column;
    }

    .gauche {
        display: none;
    }

    #dossiers-container {
        max-height: 273px;
        display: none;
        flex-direction: row;
        max-width: 370px;
        overflow-x: auto;
        margin: 0 auto;
        align-items: center;
    }

    .form-filtres {
        position: absolute;
        margin-top: 70px;
    }
}

@media (max-width: 500px){
    .recherche-filtres-container {
        flex-direction: column;
    }

    .recherche-container {
        margin: 0 auto;
    }

    .bas-recherche-container {
        margin: 0 auto;
    }

}