<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/connexion.css">
        <!-- {% block stylesheets %}
        {% endblock %} -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="/public/scripts/script.js" defer></script>
        <!-- {% block scripts %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title> -->
    </head>
    <body>
        <header>
            <section class="menu-burger-container">
                <div id="logo">
        
                    <img src="/public/assets/logo.svg" alt="Logo du site internet">
                </div>
                <div id="menu-burger">
                    <button onclick="menuBurger()"><img src="/public/assets/menu_icon.svg" alt="Icone menu burger"></button>
        
                </div>
            </section>

            <div class="mobile-navbar-container" id="mobile-navbar-container">
                <ul>
                    <li><a href="?uri=/">Examens et Fiches</a></li>

                    <li><a href="?uri=favoris">Favoris</a></li>
                    <li><a href="?uri=profil">Profil</a></li>

                    
                </ul>
            </div>


            <nav class="navbar-container">
                <div class="nav-left">
                    <a href="?uri=/">Examens et Fiches</a>
                </div>
                <div class="nav-right">
                    <a href="?uri=favoris">Favoris</a>
                    <a href="?uri=profil">Profil</a>
                </div>
            </nav>

        </header>
        <main>
            <h1>Créer un compte</h1>
            <form action="GET">
                <div class="creation-compte-container">
                    <div class="connexion-item">
                        <label for="email">Email</label>
                        <input type="email" id="email">
                    </div>
                    <div class="connexion-item">
                        <label for="confirmeremail">Confirmez votre email</label>
                        <input type="email" id="confirmeremail">
                    </div>
                    <div class="connexion-item">
                        <label for="motdepasse">Mot de passe</label>
                        <input type="password" id="motdepasse">
                    </div>
                    <div class="connexion-item">
                        <label for="confirmermotdepasse">Confirmer votre mot de passe</label>
                        <input type="password" id="confirmermotdepasse">
                    </div>
                    <button id="bouton-connexion">Créer mon profil</button>
                </div>
            </form>
            <!-- {% block main %}
            {% endblock %} -->
            <div id="scrollUp">
                <a href="#top">
                    <img src="/public/assets/fleche.svg" alt="Bouton qui remonte">
                </a>
            </div>

            <script>
                jQuery(function(){
                    $(function () {
                        // Afficher ou masquer le bouton "scrollUp" en fonction de la position du défilement
                        $(window).scroll(function () {
                            if ($(this).scrollTop() > 100 ) {
                                $('#scrollUp').css('right','10px');
                            } else {
                                $('#scrollUp').removeAttr('style');
                            }
                        });

                        // Ajouter l'effet de défilement en douceur lors du clic sur "scrollUp"
                        $('#scrollUp').click(function () {
                            $('html, body').animate({
                                scrollTop: 0
                            }, 600); // 800 ms pour l'effet de défilement en douceur
                            return false; // Empêcher le comportement par défaut du clic
                        });
                    });
                });
            </script>
        </main>
    </body>
</html>