<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/fiches.css">
        <!-- {% block stylesheets %}
        {% endblock %} -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="/public/scripts/script.js" defer></script>
        <script src="/public/scripts/fiches.js" defer></script>
        <!-- {% block scripts %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title> -->
    </head>
    <body>
        <header>
            <section class="menu-burger-container">
                <div id="logo">
        
                    <img src="/public/assets/logo.svg" alt="Logo du site internet">
                </div>
                <div id="menu-burger">
                    <button onclick="menuBurger()"><img src="/public/assets/menu_icon.svg" alt="Icone menu burger"></button>
        
                </div>
            </section>

            <div class="mobile-navbar-container" id="mobile-navbar-container">
                <ul>
                    <li><a href="?uri=/">Examens et Fiches</a></li>

                    <li><a href="?uri=favoris">Favoris</a></li>
                    <li><a href="?uri=profil">Profil</a></li>

                    
                </ul>
            </div>


            <nav class="navbar-container">
                <div class="nav-left">
                    <a href="?uri=/">Examens et Fiches</a>
                </div>
                <div class="nav-right">
                    <a href="?uri=favoris">Favoris</a>
                    <a href="?uri=profil">Profil</a>
                </div>
            </nav>

        </header>
        <main>
            <h1>Profil</h1>
            <section class="grid-container">
                <div class="item-1">
                <div class="recherche-filtres-container">
                <div class="recherche-container">
                    <input type="text" placeholder="Rechercher">
                    <button id="bouton-fleche-recherche"><img src="/public/assets/loupe.svg" alt="Loupe de recherche"></button>
                </div>
                <div class="bas-recherche-container">
                    <div class="filtres-container">
                    <button id="bouton-filtres" onclick="afficherFiltres()">Filtres <img src="/public/assets/filtres.svg" alt="Filtres"></button>
                    <form method="GET" class="form-filtres" id="form-filtres">
                        <div class="filtres-item">
                            <h4>Promo</h4>
                            <div class="checkbox-container">
                                <div class="checkbox-item">
                                    <input type="checkbox" name="promo" value="A1" id="A1">
                                    <label for="A1">A1</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="promo" value="A2" id="A2">
                                    <label for="A2">A2</label>
                                </div>
                            </div>
                        </div>
                        <div class="filtres-item">
                            <h4>Bloc</h4>
                            <div class="checkbox-container">
                                <div class="checkbox-item">
                                    <input type="checkbox" name="bloc" value="reseaux" id="reseaux">
                                    <label for="reseaux">Réseaux</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="bloc" value="systemes" id="systemes">
                                    <label for="systemes">Systèmes Embarqués</label>
                                </div>
                            </div>
                        </div>
                        <div class="filtres-item">
                            <h4>Type de fiche</h4>
                            <div class="checkbox-container">
                                <div class="checkbox-item">
                                    <input type="checkbox" name="type" value="CCTL" id="CCTL">
                                    <label for="CCTL">CCTL</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="type" value="EI" id="EI">
                                    <label for="EI">EI</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="type" value="fiche" id="fiche">
                                    <label for="fiche">Fiche</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                <div class="ajouter-container">
                    <a href="?uri=creation_fiche" id="bouton-ajouter"><img src="/public/assets/bouton-ajouter.svg" alt="Ajouter une fiche"></a>
                </div>
                </div>
            </div>
            </div>

            <div class="item-2">
                {%if fichesProfil is not empty%}
                {%for fiche in fichesProfil%}
                <div class="fiche-container">
                <div class="gauche">
                    <p id="type-fiche">{{fiche.type}}</p>
                </div>
                <div class="v1"></div>
                <div class="milieu">
                    <p id="titre-fiche">{{fiche.titre}}</p>
                    <p id="auteur-fiche">{{fiche.prenom}} {{fiche.nom}}</p>
                    <div class="caracteristiques-container">
                        <p class="caracteristiques-item" id="promo">{{fiche.annee}}</p>
                        <p class="caracteristiques-item" id="bloc">{{fiche.bloc}}</p>
                    </div>
                    <div class="fichier-container">
                        <img src="/public/assets/fichier.svg" alt="Nom du fichier">
                        <p id="nomfichier">{{fiche.chemin_fichier1}}</p>
                    </div>
                </div>
                <div class="v1"></div>
                <div class="droite">
                    <div class="petites-icones-container">
                        <button class="boutons-fiches" onclick="afficherDossiers()"><img src="/public/assets/ajouter-dossier-petit.svg" alt="Ajouter au dossier"></button>
                        <button class="boutons-fiches"><img src="/public/assets/telecharger-fichier-petit.svg" alt="Télécharger un fichier"></button>
                    </div>
                    <button class="boutons-fiches"><img src="/public/assets/modifier-fichier-petit.svg" alt="Modifier un fichier"></button>
                    <a href="?uri=supprimer_fiche&id={{fiche.id_fiche}}" class="boutons-fiches"><img src="/public/assets/supprimer-fichier-petit.svg" alt="Supprimer un fichier"></a>
                </div>
            </div>
            {%endfor%}
            {%else%}
            <p>Aucune fiche à afficher</p>
                {%endif%}
            </div>

            <div class="item-3">
                <div class="dossiers-container" id="dossiers-container">
                    <div class="dossier-item">
                        <button>Dossier 1</button>
                    </div>
                    <div class="dossier-item">
                        <button>Dossier 2</button>
                    </div>
                    <div class="dossier-item">
                        <button>Dossier 3</button>
                    </div>
                    <div class="dossier-item">
                        <button>Dossier 4</button>
                    </div>
                    <div class="dossier-item">
                        <button>Ajouter un dossier</button>
                    </div>
                </div>
            </div>
            </section>
            <!-- {% block main %}
            {% endblock %} -->
            <div id="scrollUp">
                <a href="#top">
                    <img src="/public/assets/fleche.svg" alt="Bouton qui remonte">
                </a>
            </div>

            <script>
                jQuery(function(){
                    $(function () {
                        // Afficher ou masquer le bouton "scrollUp" en fonction de la position du défilement
                        $(window).scroll(function () {
                            if ($(this).scrollTop() > 100 ) {
                                $('#scrollUp').css('right','10px');
                            } else {
                                $('#scrollUp').removeAttr('style');
                            }
                        });

                        // Ajouter l'effet de défilement en douceur lors du clic sur "scrollUp"
                        $('#scrollUp').click(function () {
                            $('html, body').animate({
                                scrollTop: 0
                            }, 600); // 800 ms pour l'effet de défilement en douceur
                            return false; // Empêcher le comportement par défaut du clic
                        });
                    });
                });
            </script>
        </main>
    </body>
</html>